In [1]:
import pandas as pd
import os
import re
from sklearn.preprocessing import OneHotEncoder

In [2]:
data = pd.read_csv('/Users/briannahancock/Desktop/Final_Data/movies_metadata.csv')
data.head()

/Users/briannahancock/opt/anaconda3/envs/PythonData2/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [4]:
# Dropping columns with lots of null rows, and JSON data types
data = data.drop(columns=['belongs_to_collection', 'homepage', 'overview', 'production_companies', 'production_countries', 'spoken_languages', 'tagline'])

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              45466 non-null  object
 1   budget             45466 non-null  object
 2   genres             45466 non-null  object
 3   id                 45466 non-null  object
 4   imdb_id            45449 non-null  object
 5   original_language  45455 non-null  object
 6   original_title     45466 non-null  object
 7   popularity         45461 non-null  object
 8   poster_path        45080 non-null  object
 9   release_date       45379 non-null  object
 10  revenue            45460 non-null  float64
 11  runtime            45203 non-null  float64
 12  status             45379 non-null  object
 13  title              45460 non-null  object
 14  video              45460 non-null  object
 15  vote_average       45460 non-null  float64
 16  vote_count         45460 non-null  float64
dtypes: float64(4), object(13)
memory usage: 5.9+ MB

In [6]:
data.columns

Index(['adult', 'budget', 'genres', 'id', 'imdb_id', 'original_language',
       'original_title', 'popularity', 'poster_path', 'release_date',
       'revenue', 'runtime', 'status', 'title', 'video', 'vote_average',
       'vote_count'],
      dtype='object')

In [7]:
imdb = pd.Series(data.imdb_id)
imdb

0        tt0114709
1        tt0113497
2        tt0113228
3        tt0114885
4        tt0113041
           ...
45461    tt6209470
45462    tt2028550
45463    tt0303758
45464    tt0008536
45465    tt6980792
Name: imdb_id, Length: 45466, dtype: object

In [8]:
# Cleaning up imdb id to map to other tables
new_imdb = []
for id in imdb:
    # print(id)
    id = str(id)
    id = id.replace('tt', '')
    new_imdb.append(id)
new_imdb

['0114709',
 '0113497',
 '0113228',
 '0114885',
 '0113041',
 '0113277',
 '0114319',
 '0112302',
 '0114576',
 '0113189',
 '0112346',
 '0112896',
 '0112453',
 '0113987',
 '0112760',
 '0112641',
 '0114388',
 '0113101',
 '0112281',
 '0113845',
 '0113161',
 '0112722',
 '0112401',
 '0114168',
 '0113627',
 '0114057',
 '0114011',
 '0114117',
 '0112682',
 '0115012',
 '0112792',
 '0114746',
 '0114952',
 '0112431',
 '0112637',
 '0112818',
 '0112286',
 '0113442',
 '0112697',
 '0112749',
 '0114279',
 '0112819',
 '0114272',
 '0113855',
 '0114681',
 '0113347',
 '0114369',
 '0114148',
 '0114916',
 '0114814',
 '0109950',
 '0113819',
 '0110299',
 '0112499',
 '0113158',
 '0113541',
 '0113321',
 '0110877',
 '0112714',
 '0113419',
 '0116260',
 '0113862',
 '0116126',
 '0118002',
 '0115683',
 '0116839',
 '0114753',
 '0113149',
 '0113118',
 '0116367',
 '0113010',
 '0113537',
 '0113828',
 '0115644',
 '0115676',
 '0114367',
 '0113973',
 '0112744',
 '0116731',
 '0112445',
 '0114660',
 '0112379',
 '0114039',
 '0113612',
 '0112365',
 '0118158',
 '0116151',
 '0115697',
 '0113972',
 '0113490',
 '0117002',
 '0114825',
 '0115639',
 '0115759',
 '0113403',
 '0113247',
 '0111173',
 '0113283',
 '0115907',
 '0115734',
 '0117102',
 '0118040',
 '0116483',
 '0112579',
 '0110251',
 '0117110',
 '0112646',
 '0113276',
 '0112573',
 '0075314',
 '0113326',
 '0115645',
 '0113774',
 '0112556',
 '0112373',
 '0115033',
 '0116606',
 '0114536',
 '0117427',
 '0106473',
 '0103859',
 '0109424',
 '0114808',
 '0116324',
 '0110647',
 '0111055',
 '0110217',
 '0114131',
 '0112364',
 '0113107',
 '0113451',
 '0114015',
 '0114500',
 '0116130',
 '0113125',
 '0113756',
 '0113952',
 '0114618',
 '0118055',
 '0115685',
 '0113200',
 '0112585',
 '0112442',
 '0112342',
 '0112461',
 '0112427',
 '0109093',
 '0112384',
 '0114287',
 '0112288',
 '0112462',
 '0061395',
 '0112495',
 '0112541',
 '0109370',
 '0112642',
 '0112688',
 '0112715',
 '0112740',
 '0109508',
 '0112851',
 '0112857',
 '0112864',
 '0112887',
 '0113044',
 '0113071',
 '0113114',
 '0113243',
 '0113464',
 '0113481',
 '0113492',
 '0113500',
 '0113540',
 '0113677',
 '0113690',
 '0107447',
 '0113729',
 '0113749',
 '0113820',
 '0113851',
 '0110604',
 '0110620',
 '0113957',
 '0113986',
 '0114095',
 '0114194',
 '0114241',
 '0114323',
 '0114345',
 '0114435',
 '0114436',
 '0114478',
 '0114496',
 '0114508',
 '0114534',
 '0114558',
 '0058450',
 '0114666',
 '0114663',
 '0114702',
 '0114682',
 '0114781',
 '0114798',
 '0114805',
 '0114887',
 '0114898',
 '0114928',
 '0114938',
 '0109340',
 '0112602',
 '0111579',
 '0110882',
 '0112471',
 '0112508',
 '0112438',
 '0112571',
 '0112757',
 '0112643',
 '0112679',
 '0109445',
 '0112883',
 '0109635',
 '0112899',
 '0109676',
 '0112854',
 '0109579',
 '0109642',
 '0109686',
 '0111797',
 '0109759',
 '0109758',
 '0109707',
 '0113117',
 '0113097',
 '0113028',
 '0113198',
 '0113303',
 '0113089',
 '0109771',
 '0113199',
 '0113234',
 '0109906',
 '0110057',
 '0110005',
 '0110066',
 '0110116',
 '0110006',
 '0113360',
 '0110099',
 '0110148',
 '0113463',
 '0110189',
 '0110216',
 '0113501',
 '0113538',
 '0113552',
 '0076759',
 '0110367',
 '0113670',
 '0110296',
 '0109731',
 '0103994',
 '0110322',
 '0110443',
 '0110365',
 '0107566',
 '0110391',
 '0113691',
 '0110428',
 '0109836',
 '0113755',
 '0110538',
 '0110516',
 '0110527',
 '0113808',
 '0113896',
 '0113870',
 '0110684',
 '0110638',
 '0113967',
 '0117169',
 '0106402',
 '0113948',
 '0110671',
 '0110632',
 '0110737',
 '0110729',
 '0114151',
 '0114069',
 '0110413',
 '0114113',
 '0114210',
 '0110912',
 '0114084',
 '0105652',
 '0110889',
 '0110932',
 '0114129',
 '0110963',
 '0114214',
 '0114296',
 '0110907',
 '0111495',
 '0108394',
 '0111507',
 '0110769',
 '0114268',
 '0110965',
 '0114571',
 '0111333',
 '0111112',
 '0111255',
 '0111282',
 '0111070',
 '0111161',
 '0111149',
 '0108260',
 '0106966',
 '0114594',
 '0111309',
 '0113936',
 '0110081',
 '0114614',
 '0114608',
 '0111280',
 '0114609',
 '0111454',
 '0114852',
 '0114694',
 '0111590',
 '0114788',
 '0114888',
 '0108550',
 '0114857',
 '0114924',
 '0111667',
 '0109655',
 '0110598',
 '0112435',
 '0109040',
 '0109045',
 '0106339',
 '0104779',
 '0109348',
 '0109444',
 '0109446',
 '0109484',
 '0109504',
 '0109506',
 '0109450',
 '0109813',
 '0109830',
 '0109831',
 '0113305',
 '0110091',
 '0110093',
 '0110167',
 '0110213',
 '0107472',
 '0110357',
 '0107426',
 '0111686',
 '0110475',
 '0110478',
 '0110588',
 '0110622',
 '0110771',
 '0110950',
 '0105226',
 '0110989',
 '0111054',
 '0110997',
 '0111257',
 '0111256',
 '0111438',
 '0111503',
 '0111693',
 '0111742',
 '0111756',
 '0112443',
 '0110455',
 '0111048',
 '0110399',
 '0112570',
 '0109454',
 '0059170',
 '0110186',
 '0108069',
 '0111301',
 '0112702',
 '0112849',
 '0113014',
 '0113043',
 '0113104',
 '0113173',
 '0113319',
 '0113827',
 '0114047',
 '0112889',
 '0109339',
 '0110027',
 '0109785',
 '0113409',
 '0109021',
 '0109035',
 '0106220',
 '0111804',
 '0106226',
 '0109068',
 '0109067',
 '0106292',
 '0109198',
 '0109219',
 '0106379',
 '0106400',
 '0109254',
 '0109279',
 '0109297',
 '0109303',
 '0109305',
 '0109306',
 '0106452',
 '0106471',
 '0106489',
 '0109361',
 '0106505',
 '0106519',
 '0109439',
 '0109443',
 '0106582',
 '0106598',
 '0109456',
 '0109480',
 '0109493',
 '0106660',
 '0106673',
 '0106677',
 '0106697',
 '0109729',
 '0106834',
 '0106873',
 '0106332',
 '0109783',
 '0106881',
 '0106880',
 '0111732',
 '0106926',
 '0111712',
 '0106941',
 '0106918',
 '0106965',
 '0109842',
 '0106977',
 '0107004',
 '0109890',
 '0109891',
 '0109913',
 '0109920',
 '0107057',
 '0107076',
 '0107096',
 '0107144',
 '0113674',
 '0112966',
 '0107151',
 '0110064',
 '0110074',
 '0110097',
 '0110123',
 '0107206',
 '0107207',
 '0110137',
 '0108551',
 '0110197',
 '0107286',
 '0107290',
 '0107302',
 '0110265',
 '0107322',
 '0110305',
 '0107362',
 '0107413',
 '0110353',
 '0107468',
 '0107478',
 '0107497',
 '0107501',
 '0107507',
 '0107554',
 '0116253',
 '0074102',
 '0111689',
 '0107616',
 '0107611',
 '0107613',
 '0107614',
 '0107653',
 '0110657',
 '0110649',
 '0110678',
 '0110687',
 '0107756',
 '0107808',
 '0107818',
 '0107822',
 '0107840',
 '0107889',
 '0111003',
 '0110939',
 '0110955',
 '0107943',
 '0110971',
 '0107969',
 '0111001',
 '0107978',
 '0107977',
 '0107983',
 '0105275',
 '0108000',
 '0108002',
 '0108026',
 '0105032',
 '0108052',
 '0111094',
 '0108065',
 '0111102',
 '0108071',
 '0111127',
 '0111143',
 '0108101',
 '0108122',
 '0111194',
 '0111201',
 '0108149',
 '0108160',
 '0108162',
 '0083658',
 '0108186',
 '0108174',
 '0108238',
 '0089256',
 '0108255',
 '0111323',
 '0111400',
 '0108328',
 '0111418',
 '0107688',
 '0108333',
 '0108358',
 '0111488',
 '0108399',
 '0108515',
 '0110763',
 '0107779',
 '0109226',
 '0110259',
 '0114906',
 '0107002',
 '0109403',
 '0104029',
 '0110623',
 '0107315',
 '0106408',
 '0110363',
 '0107349',
 '0111709',
 '0109828',
 '0107225',
 '0111252',
 '0110366',
 '0106878',
 '0109120',
 '0108059',
 '0110892',
 '0112651',
 '0107642',
 '0109382',
 '0106678',
 '0112572',
 '0099785',
 '0099653',
 '0103639',
 '0103064',
 '0099348',
 '0114706',
 '0096895',
 '0102926',
 '0029583',
 '0101414',
 '0032910',
 '0100405',
 '0110719',
 '0065214',
 '0110395',
 '0111752',
 '0109934',
 '0112606',
 '0117247',
 '0112625',
 '0106537',
 '0116282',
 '0116552',
 '0082509',
 '0116514',
 '0117283',
 '0116684',
 '0110374',
 '0070506',
 '0065421',
 '0113083',
 '0118001',
 '0116165',
 '0102855',
 '0107471',
 '0113839',
 '0112712',
 '0090665',
 '0117891',
 '0113613',
 '0117381',
 '0114305',
 '0115837',
 '0115509',
 '0114671',
 '0112844',
 '0114658',
 '0116275',
 '0113122',
 '0117608',
 '0113448',
 '0116414',
 '0116095',
 '0111543',
 '0117517',
 '0117312',
 '0116485',
 '0113947',
 '0115956',
 '0117060',
 '0109028',
 '0117071',
 '0117788',
 '0112257',
 '0116136',
 '0118026',
 '0117117',
 '0116168',
 '0111787',
 '0112509',
 '0054189',
 '0115591',
 '0116683',
 '0116287',
 '0116768',
 '0116269',
 '0114787',
 '0113720',
 '0112536',
 '0048473',
 '0052572',
 '0117128',
 '0114616',
 '0117705',
 '0062711',
 '0110061',
 '0140614',
 '0108181',
 '0114307',
 '0058898',
 '0082206',
 '0111430',
 '0107727',
 '0081759',
 '0113443',
 '0109491',
 '0114048',
 '0111613',
 '0117104',
 '0117688',
 '0109751',
 '0117774',
 '0114736',
 '0112604',
 '0116289',
 '0109593',
 '0103095',
 '0112368',
 '0104046',
 '0062952',
 '0115742',
 '0117420',
 '0115951',
 '0117784',
 '0117107',
 '0117979',
 '0095776',
 '0115851',
 '0116322',
 '0109374',
 '0110712',
 '0112817',
 '0113362',
 '0073778',
 '0112546',
 '0108500',
 '0117108',
 '0113270',
 '0333373',
 '0115963',
 '0116448',
 '0116827',
 '0114894',
 '0112701',
 '0113429',
 '0116508',
 '0117260',
 '0117500',
 '0116405',
 '0109592',
 '0117998',
 '0115624',
 '0113145',
 '0116559',
 '0113568',
 '0117894',
 '0117723',
 '0112586',
 '0112691',
 '0040366',
 '0117768',
 '0115571',
 '0031612',
 '0057012',
 '0103926',
 '0105737',
 '0113849',
 '0113188',
 '0042644',
 '0109381',
 '0109688',
 '0104606',
 '0110480',
 '0108211',
 '0117331',
 '0117765',
 '0116833',
 '0113280',
 '0116669',
 '0116594',
 '0113211',
 '0114494',
 '0094265',
 '0105201',
 '0070820',
 '0084898',
 '0063715',
 '0109191',
 '0114122',
 '0117951',
 '0118523',
 '0116629',
 '0117737',
 '0116277',
 '0116583',
 '0115798',
 '0116778',
 '0116213',
 '0113147',
 '0117218',
 '0100990',
 '0111546',
 '0093199',
 '0106810',
 '0111180',
 '0111237',
 '0072362',
 '0103207',
 '0116040',
 '0116365',
 '0116905',
 '0116493',
 '0117333',
 '0118113',
 '0117628',
 '0117913',
 '0115530',
 '0114266',
 '0115493',
 '0116320',
 '0116756',
 '0109356',
 '0116823',
 '0112568',
 '0114170',
 '0117999',
 '0118073',
 '0108220',
 '0049521',
 '0104403',
 '0061495',
 '0110246',
 '0116164',
 '0112865',
 '0112716',
 '0115472',
 '0116707',
 '0116313',
 '0114550',
 '0117438',
 '0116531',
 '0117332',
 '0116353',
 '0115857',
 '0117008',
 '0116191',
 '0115986',
 '0116571',
 '0053459',
 '0117826',
 '0113695',
 '0108227',
 '0111424',
 '0113080',
 '0115680',
 '0117718',
 '0116225',
 '0112767',
 '0115632',
 '0117918',
 '0104109',
 '0051980',
 '0100840',
 '0107575',
 '0042054',
 '0068646',
 '0109255',
 '0104558',
 '0116985',
 '0046468',
 '0114474',
 '0115736',
 '0115836',
 '0101692',
 '0116745',
 '0119214',
 '0116934',
 '0109066',
 '0075169',
 '0113542',
 '0110693',
 '0106544',
 '0116418',
 '0112607',
 '0120004',
 '0116654',
 '0116311',
 '0117965',
 '0114592',
 '0115725',
 '0115783',
 '0120271',
 '0113596',
 '0109001',
 '0094822',
 '0113253',
 '0117991',
 '0117093',
 '0024252',
 '1684935',
 '0111019',
 '0035896',
 '0032904',
 '0045152',
 '0043278',
 '0050419',
 '0054698',
 '0052357',
 '0047396',
 '0025316',
 '0036855',
 '0025164',
 '0053125',
 '0053604',
 '0053291',
 '0056923',
 '0034583',
 '0033870',
 '0058385',
 '0047437',
 '0046250',
 '0031580',
 '0037059',
 '0032138',
 '0031381',
 '0084370',
 '0043014',
 '0033467',
 '0062622',
 '0039428',
 '0042192',
 '0032143',
 '0032976',
 '0032484',
 '0038787',
 '0038109',
 '0050105',
 '0048728',
 '0042451',
 '0045537',
 '0031725',
 '0050658',
 '0051658',
 '0052126',
 '0029843',
 '0032762',
 '0037008',
 '0039420',
 '0029162',
 '0027125',
 '0035446',
 '0028010',
 '0049261',
 '0048028',
 '0025878',
 '0032599',
 '0048960',
 '0038650',
 '0031679',
 '0029947',
 '0034012',
 '0017350',
 '0036094',
 '0025586',
 '0038300',
 '0027893',
 '0032022',
 '0041509',
 '0039152',
 '0026029',
 '0038235',
 '0036241',
 '0063350',
 '0043265',
 '0046414',
 '0051459',
 '0047162',
 '0033891',
 '0029855',
 '0029588',
 '0022879',
 '0027980',
 '0114007',
 '0093229',
 '0118927',
 '0048491',
 '0113730',
 '0117357',
 '0117669',
 '0116329',
 '0118742',
 '0116442',
 '0114354',
 '0117011',
 '0117039',
 '0117473',
 '0116635',
 '0115678',
 '0116830',
 '0115847',
 '0117603',
 '0115438',
 '0115994',
 '0083587',
 '0116167',
 '0116259',
 '0116421',
 '0116000',
 '0115862',
 '0072653',
 '0047977',
 '0072951',
 '0064603',
 '0071607',
 '0050798',
 '0055277',
 '0054195',
 '0107131',
 '0053271',
 '0054357',
 '0059793',
 '0046672',
 '0106611',
 '0109127',
 '0042332',
 '0063819',
 '0038166',
 '0057546',
 '0041890',
 '0102798',
 '0058331',
 ...]

In [9]:
data['imdb_id'] = new_imdb

In [10]:
data

,adult,budget,genres,id,imdb_id,original_language,original_title,popularity,poster_path,release_date,revenue,runtime,status,title,video,vote_average,vote_count
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,0114709,en,Toy Story,21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,1995-10-30,373554033.0,81.0,Released,Toy Story,False,7.7,5415.0
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,0113497,en,Jumanji,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,1995-12-15,262797249.0,104.0,Released,Jumanji,False,6.9,2413.0
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,0113228,en,Grumpier Old Men,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,1995-12-22,0.0,101.0,Released,Grumpier Old Men,False,6.5,92.0
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,0114885,en,Waiting to Exhale,3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,False,6.1,34.0
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",11862,0113041,en,Father of the Bride Part II,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,6209470,fa,رگ خواب,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,NaN,0.0,90.0,Released,Subdue,False,4.0,1.0
45462,False,0,"[{'id': 18, 'name': 'Drama'}]",111109,2028550,tl,Siglo ng Pagluluwal,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,2011-11-17,0.0,360.0,Released,Century of Birthing,False,9.0,3.0
45463,False,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,0303758,en,Betrayal,0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,2003-08-01,0.0,90.0,Released,Betrayal,False,3.8,6.0
45464,False,0,[],227506,0008536,en,Satana likuyushchiy,0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,1917-10-21,0.0,87.0,Released,Satan Triumphant,False,0.0,0.0
45465,False,0,[],461257,6980792,en,Queerama,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,2017-06-09,0.0,75.0,Released,Queerama,False,0.0,0.0

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              45466 non-null  object
 1   budget             45466 non-null  object
 2   genres             45466 non-null  object
 3   id                 45466 non-null  object
 4   imdb_id            45466 non-null  object
 5   original_language  45455 non-null  object
 6   original_title     45466 non-null  object
 7   popularity         45461 non-null  object
 8   poster_path        45080 non-null  object
 9   release_date       45379 non-null  object
 10  revenue            45460 non-null  float64
 11  runtime            45203 non-null  float64
 12  status             45379 non-null  object
 13  title              45460 non-null  object
 14  video              45460 non-null  object
 15  vote_average       45460 non-null  float64
 16  vote_count         45460 non-null  float64
dtypes: float64(4), object(13)
memory usage: 5.9+ MB

In [12]:
data['id'].nunique()

45436

In [13]:
data['original_language'].nunique()

92

In [14]:
data['original_language'].value_counts()

en       32269
fr        2438
it        1529
ja        1350
de        1080
         ...
zu           1
qu           1
104.0        1
la           1
si           1
Name: original_language, Length: 92, dtype: int64

In [15]:
# Dropping duplicate movie id's for primary key constraint
data = data.drop_duplicates(subset='id', keep='first')

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45436 entries, 0 to 45465
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              45436 non-null  object
 1   budget             45436 non-null  object
 2   genres             45436 non-null  object
 3   id                 45436 non-null  object
 4   imdb_id            45436 non-null  object
 5   original_language  45425 non-null  object
 6   original_title     45436 non-null  object
 7   popularity         45431 non-null  object
 8   poster_path        45050 non-null  object
 9   release_date       45349 non-null  object
 10  revenue            45430 non-null  float64
 11  runtime            45173 non-null  float64
 12  status             45349 non-null  object
 13  title              45430 non-null  object
 14  video              45430 non-null  object
 15  vote_average       45430 non-null  float64
 16  vote_count         45430 non-null  float64
dtypes: float64(4), object(13)
memory usage: 6.2+ MB

In [17]:
# Dropping rows with bad data
data = data.drop(labels=[19722,19723,29483,29484,35564,35565], axis=0)

In [18]:
data.head()

,adult,budget,genres,id,imdb_id,original_language,original_title,popularity,poster_path,release_date,revenue,runtime,status,title,video,vote_average,vote_count
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,0114709,en,Toy Story,21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,1995-10-30,373554033.0,81.0,Released,Toy Story,False,7.7,5415.0
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,0113497,en,Jumanji,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,1995-12-15,262797249.0,104.0,Released,Jumanji,False,6.9,2413.0
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,0113228,en,Grumpier Old Men,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,1995-12-22,0.0,101.0,Released,Grumpier Old Men,False,6.5,92.0
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,0114885,en,Waiting to Exhale,3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,False,6.1,34.0
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",11862,0113041,en,Father of the Bride Part II,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,False,5.7,173.0

In [19]:
data['list_genres'] = data['genres'].str.findall("(?:'name':\s)(\W[A-Z][a-z]*\W)(?:})")
data.head()

,adult,budget,genres,id,imdb_id,original_language,original_title,popularity,poster_path,release_date,revenue,runtime,status,title,video,vote_average,vote_count,list_genres
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,0114709,en,Toy Story,21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,1995-10-30,373554033.0,81.0,Released,Toy Story,False,7.7,5415.0,"['Animation', 'Comedy', 'Family']"
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,0113497,en,Jumanji,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,1995-12-15,262797249.0,104.0,Released,Jumanji,False,6.9,2413.0,"['Adventure', 'Fantasy', 'Family']"
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,0113228,en,Grumpier Old Men,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,1995-12-22,0.0,101.0,Released,Grumpier Old Men,False,6.5,92.0,"['Romance', 'Comedy']"
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,0114885,en,Waiting to Exhale,3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,False,6.1,34.0,"['Comedy', 'Drama', 'Romance']"
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",11862,0113041,en,Father of the Bride Part II,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,False,5.7,173.0,['Comedy']

In [20]:
titles = data['original_title']
cleaned_titles = []
for title in titles:
    title = str(title)
    title = title.replace(',', ';')
    cleaned_titles.append(title)
cleaned_titles

['Toy Story',
 'Jumanji',
 'Grumpier Old Men',
 'Waiting to Exhale',
 'Father of the Bride Part II',
 'Heat',
 'Sabrina',
 'Tom and Huck',
 'Sudden Death',
 'GoldenEye',
 'The American President',
 'Dracula: Dead and Loving It',
 'Balto',
 'Nixon',
 'Cutthroat Island',
 'Casino',
 'Sense and Sensibility',
 'Four Rooms',
 'Ace Ventura: When Nature Calls',
 'Money Train',
 'Get Shorty',
 'Copycat',
 'Assassins',
 'Powder',
 'Leaving Las Vegas',
 'Othello',
 'Now and Then',
 'Persuasion',
 'La Cité des Enfants Perdus',
 '摇啊摇，摇到外婆桥',
 'Dangerous Minds',
 'Twelve Monkeys',
 'Guillaumet; les ailes du courage',
 'Babe',
 'Carrington',
 'Dead Man Walking',
 'Across the Sea of Time',
 'It Takes Two',
 'Clueless',
 'Cry; the Beloved Country',
 'Richard III',
 'Dead Presidents',
 'Restoration',
 'Mortal Kombat',
 'To Die For',
 'How To Make An American Quilt',
 'Se7en',
 'Pocahontas',
 'When Night Is Falling',
 'The Usual Suspects',
 'Guardian Angel',
 'Mighty Aphrodite',
 'Lamerica',
 'The Big Green',
 'Georgia',
 'Kids of the Round Table',
 'Home for the Holidays',
 'Il postino',
 'Le confessionnal',
 'The Indian in the Cupboard',
 'Eye for an Eye',
 "Mr. Holland's Opus",
 "Don't Be a Menace to South Central While Drinking Your Juice in the Hood",
 'Two If by Sea',
 'Bio-Dome',
 'Lawnmower Man 2: Beyond Cyberspace',
 'Two Bits',
 'Gazon maudit',
 'Friday',
 'From Dusk Till Dawn',
 'Fair Game',
 'Kicking and Screaming',
 'Les misérables',
 'Bed of Roses',
 'Big Bully',
 'Screamers',
 'Nico Icon',
 'The Crossing Guard',
 'The Juror',
 'بادکنک سفید',
 "Things to Do in Denver When You're Dead",
 'Antonia',
 'Once Upon a Time... When We Were Colored',
 'Last Summer in the Hamptons',
 'Angels and Insects',
 'White Squall',
 'Dunston Checks In',
 'Black Sheep',
 'Nick of Time',
 'The Journey of August King',
 'Mary Reilly',
 'Vampire in Brooklyn',
 'Beautiful Girls',
 'Broken Arrow',
 "A Midwinter's Tale",
 'La Haine',
 'Shopping',
 'Heidi Fleiss: Hollywood Madam',
 'City Hall',
 'Bottle Rocket',
 'Mr. Wrong',
 'Unforgettable',
 'Happy Gilmore',
 'The Bridges of Madison County',
 'Keiner liebt mich',
 'Muppet Treasure Island',
 'Catwalk',
 'Headless Body in Topless Bar',
 'Braveheart',
 'Taxi Driver',
 '紅番區',
 'Before and After',
 "Margaret's Museum",
 'Le Bonheur est dans le pré',
 'Anne Frank Remembered',
 "The Young Poisoner's Handbook",
 'If Lucy Fell',
 'Steal Big Steal Little',
 'Race the Sun',
 'The Boys of St. Vincent',
 'Boomerang',
 '重慶森林',
 "L'uomo delle stelle",
 'Flirting with Disaster',
 'The NeverEnding Story III',
 'صمت القصور',
 "Jupiter's Wife",
 'Pie in the Sky',
 'Angela',
 'Frankie Starlight',
 'Jade',
 'Nueba Yol',
 'Sonic Outlaws',
 'Down Periscope',
 'From the Journals of Jean Seberg',
 'Man of the Year',
 'The Neon Bible',
 'Target',
 'Up Close & Personal',
 'The Birdcage',
 'Gospa',
 'The Brothers McMullen',
 'Bad Boys',
 'The Amazing Panda Adventure',
 'The Basketball Diaries',
 'An Awfully Big Adventure',
 'Amateur',
 'Apollo 13',
 'Rob Roy',
 'The Addiction',
 'Batman Forever',
 'Belle de jour',
 'Beyond Rangoon',
 'Blue in the Face',
 'Canadian Bacon',
 'Casper',
 'Clockers',
 'Congo',
 'Crimson Tide',
 'Crumb',
 'Desperado',
 'Devil in a Blue Dress',
 'Die Hard: With a Vengeance',
 'The Doom Generation',
 'Feast of July',
 'First Knight',
 'Free Willy 2 - The Adventure Home',
 'Hackers',
 'Jeffrey',
 'Johnny Mnemonic',
 'Judge Dredd',
 'Jury Duty',
 'Kids',
 'Living in Oblivion',
 'Lord of Illusions',
 'Love & Human Remains',
 'Mad Love',
 'Mallrats',
 'Mighty Morphin Power Rangers: The Movie',
 'Moonlight and Valentino',
 'Mute Witness',
 'Nadja',
 'The Net',
 'Nine Months',
 'Party Girl',
 'The Prophecy',
 'Reckless',
 'Safe',
 'The Scarlet Letter',
 'The Show',
 'Showgirls',
 'Smoke',
 'Something to Talk About',
 'Species',
 'The Stars Fell on Henrietta',
 'Strange Days',
 'Les parapluies de Cherbourg',
 'The Tie That Binds',
 'Three Wishes',
 'Total Eclipse',
 'To Wong Foo; Thanks for Everything! Julie Newmar',
 'Under Siege 2: Dark Territory',
 'Unstrung Heroes',
 'Unzipped',
 'A Walk in the Clouds',
 'Waterworld',
 "White Man's Burden",
 'Wild Bill',
 'The Browning Version',
 'Bushwhacked',
 'Утомлённые солнцем',
 'Before the Rain',
 'Before Sunrise',
 'Billy Madison',
 'The Babysitter',
 'Boys on the Side',
 'The Cure',
 'Castle Freak',
 'Circle of Friends',
 'Clerks',
 'Don Juan DeMarco',
 'Disclosure',
 'Dream Man',
 'Drop Zone',
 'Destiny Turns on the Radio',
 'Death and the Maiden',
 'Dolores Claiborne',
 'Dumb and Dumber',
 '飲食男女',
 'Exotica',
 'Exit to Eden',
 'Ed Wood',
 'French Kiss',
 'Forget Paris',
 'Far from Home: The Adventures of Yellow Dog',
 'A Goofy Movie',
 'Hideaway',
 'Fluke',
 'Farinelli',
 'Gordy',
 'Gumby: The Movie',
 'The Glass Shield',
 'Hoop Dreams',
 'Heavenly Creatures',
 'Houseguest',
 'Immortal Beloved',
 'Heavyweights',
 'The Hunted',
 'I.Q.',
 'Interview with the Vampire',
 'Jefferson in Paris',
 'The Jerky Boys',
 'Junior',
 'Just Cause',
 "A Kid in King Arthur's Court",
 'Kiss of Death',
 'Star Wars',
 'Little Women',
 'A Little Princess',
 'Ladybird Ladybird',
 "L'Enfer",
 'Como agua para chocolate',
 'Legends of the Fall',
 'Major Payne',
 'Little Odessa',
 'Mi Vida Loca',
 'Love Affair',
 'Losing Isaiah',
 'The Madness of King George',
 'Frankenstein',
 'Man of the House',
 'Mixed Nuts',
 'Milk Money',
 'Miracle on 34th Street',
 'Miami Rhapsody',
 'My Family',
 'Murder in the First',
 "Nobody's Fool",
 'Nell',
 'New Jersey Drive',
 'New York Cop',
 'Beyond Bedlam',
 'Nemesis 2 - Nebula',
 'Nina Takes a Lover',
 'Natural Born Killers',
 'Only You',
 'Once Were Warriors',
 'Poison Ivy II: Lily',
 'Outbreak',
 'Léon',
 'The Perez Family',
 "A Pyromaniac's Love Story",
 'Pulp Fiction',
 'Panther',
 'Pushing Hands',
 'Priest',
 'Quiz Show',
 'Picture Bride',
 'La Reine Margot',
 'The Quick and the Dead',
 'Roommates',
 'Prêt-à-Porter',
 'Trois couleurs : Rouge',
 'Trois couleurs : Bleu',
 'Trois couleurs : Blanc',
 'Pao Da Shuang Deng',
 'Rent-a-Kid',
 'Relative Fear',
 'Stuart Saves His Family',
 'The Swan Princess',
 'The Secret of Roan Inish',
 'The Specialist',
 'Stargate',
 'The Santa Clause',
 'The Shawshank Redemption',
 'Shallow Grave',
 'Suture',
 'Fresa y chocolate',
 'Swimming with Sharks',
 'The Sum of Us',
 'Senior Trip',
 '活着',
 'Tank Girl',
 'Tales from the Crypt: Demon Knight',
 'Star Trek: Generations',
 'Tales from the Hood',
 'Tom & Viv',
 'Village of the Damned',
 'Tommy Boy',
 'Vanya on 42nd Street',
 'The Underneath',
 'The Walking Dead',
 "What's Eating Gilbert Grape",
 'Virtuosity',
 'While You Were Sleeping',
 'The War',
 'Double Happiness',
 "Muriel's Wedding",
 'The Baby-Sitters Club',
 'Ace Ventura: Pet Detective',
 'The Adventures of Priscilla; Queen of the Desert',
 'Backbeat',
 'Bitter Moon',
 'Bullets Over Broadway',
 'Clear and Present Danger',
 'The Client',
 'Corrina; Corrina',
 'Crooklyn',
 'The Crow',
 'Cobb',
 'The Flintstones',
 'Forrest Gump',
 'Four Weddings and a Funeral',
 'Higher Learning',
 'I Like It Like That',
 'I Love Trouble',
 'It Could Happen to You',
 'The Jungle Book',
 'Die Macht der Bilder: Leni Riefenstahl',
 'The Lion King',
 'Little Buddha',
 'New Nightmare',
 'The Mask',
 'Maverick',
 'Mrs. Parker and the Vicious Circle',
 'The Naked Gun 33⅓: The Final Insult',
 'The Paper',
 'Reality Bites',
 'Red Rock West',
 'Ri¢hie Ri¢h',
 'Safe Passage',
 'The River Wild',
 'Speed',
 'Speechless',
 'Timecop',
 'True Lies',
 'When a Man Loves a Woman',
 'Wolf',
 'Wyatt Earp',
 'Bad Company',
 'A Man of No Importance',
 'S.F.W.',
 'A Low Down Dirty Shame',
 'Boys Life: Three Stories of Love; Lust; and Liberation',
 'Le colonel Chabert',
 'Faster; Pussycat! Kill! Kill!',
 "Jason's Lyric",
 'The Secret Adventures of Tom Thumb',
 'Street Fighter',
 'Coldblooded',
 'Desert Winds',
 'Fall Time',
 'The Fear',
 'Frank and Ollie',
 'Girl in the Cadillac',
 'Homage',
 'Mirage',
 'Open Season',
 'Dos Crímenes',
 'Brother Minister: The Assassination of Malcolm X',
 'Highlander III: The Sorcerer',
 'Federal Hill',
 'In the Mouth of Madness',
 '8 Seconds',
 'Above the Rim',
 'Addams Family Values',
 'Martin Lawrence: You So Crazy',
 'The Age of Innocence',
 'Airheads',
 'The Air Up There',
 'Another Stakeout',
 'Bad Girls',
 'Barcelona',
 'Being Human',
 'The Beverly Hillbillies',
 'Beverly Hills Cop III',
 'Black Beauty',
 'Blink',
 'Blown Away',
 'Blue Chips',
 'Blue Sky',
 'Body Snatchers',
 'Boxing Helena',
 'A Bronx Tale',
 'Cabin Boy',
 'Calendar Girl',
 "Carlito's Way",
 "City Slickers II: The Legend of Curly's Gold",
 'Clean Slate',
 'Cliffhanger',
 'Coneheads',
 'Color of Night',
 'Cops & Robbersons',
 'The Cowboy Way',
 'Dangerous Game',
 'Dave',
 'Dazed and Confused',
 'Demolition Man',
 'The Endless Summer 2',
 'Even Cowgirls Get the Blues',
 'Fatal Instinct',
 '霸王别姬',
 'The Favor',
 'Fearless',
 'Fear of a Black Hat',
 'With Honors',
 'Flesh and Bone',
 "Widows' Peak",
 'For Love or Money',
 'The Firm',
 'Free Willy',
 'Fresh',
 'The Fugitive',
 'Geronimo: An American Legend',
 'The Getaway',
 'Getting Even with Dad',
 'Go Fish',
 'A Good Man in Africa',
 'Guilty as Sin',
 'Hard Target',
 'Heaven & Earth',
 'Hot Shots! Part Deux',
 'Live Nude Girls',
 'The Englishman Who Went Up a Hill But Came Down a Mountain',
 'The House of the Spirits',
 'House Party 3',
 'The Hudsucker Proxy',
 "I'll Do Anything",
 'In the Army Now',
 'In the Line of Fire',
 'In the Name of the Father',
 'The Inkwell',
 "What's Love Got to Do with It",
 'Jimmy Hollywood',
 'Judgment Night',
 'Jurassic Park',
 'Kalifornia',
 'Killing Zoe',
 'King of the Hill',
 'Lassie',
 'Last Action Hero',
 'Life With Mikey',
 'Lightning Jack',
 'M. Butterfly',
 'Made in America',
 'Malice',
 'The Man without a Face',
 'Manhattan Murder Mystery',
 'Menace II Society',
 'Executive Decision',
 '愛のコリーダ',
 'What Happened Was...',
 'Much Ado About Nothing',
 'Mr. Jones',
 'Mr. Wonderful',
 'Mrs. Doubtfire',
 'Naked',
 'The Next Karate Kid',
 'The New Age',
 'No Escape',
 'North',
 'Orlando',
 'A Perfect World',
 'Philadelphia',
 'The Piano',
 'Poetic Justice',
 'The Program',
 'The Puppet Masters',
 'Radioland Murders',
 'The Ref',
 'The Remains of the Day',
 'Renaissance Man',
 'Rising Sun',
 'The Road to Wellville',
 'RoboCop 3',
 'Robin Hood: Men in Tights',
 'Romeo Is Bleeding',
 'Romper Stomper',
 'Ruby in Paradise',
 'Rudy',
 'The Saint of Fort Washington',
 'Les Nuits Fauves',
 "Schindler's List",
 'The Scout',
 'Searching for Bobby Fischer',
 'Second Best',
 'The Secret Garden',
 'Serial Mom',
 'The Shadow',
 'Shadowlands',
 'Short Cuts',
 'A Simple Twist of Fate',
 'Sirens',
 'Six Degrees of Separation',
 'Sleepless in Seattle',
 'Sliver',
 'Blade Runner',
 'Son in Law',
 'So I Married an Axe Murderer',
 'Striking Distance',
 'Harem',
 'Super Mario Bros.',
 'Surviving the Game',
 'Terminal Velocity',
 'Thirty Two Short Films About Glenn Gould',
 'Threesome',
 'The Nightmare Before Christmas',
 'The Three Musketeers',
 'Tombstone',
 'Trial by Jury',
 'True Romance',
 'The War Room',
 'The Pagemaster',
 'Paris; France',
 'The Beans of Egypt; Maine',
 'Killer',
 'Welcome to the Dollhouse',
 'Germinal',
 'Chasers',
 'Cronos',
 'Naked in New York',
 'Kika',
 'Bhaji on the Beach',
 'Little Big League',
 'Kådisbellan',
 'Wide Eyed and Legless',
 'Foreign Student',
 'Io speriamo che me la cavo',
 'Spanking the Monkey',
 'The Little Rascals',
 'À la mode',
 'Andre',
 'La scorta',
 'Princess Caraboo',
 'The Celluloid Closet',
 'Métisse',
 'Caro diario',
 'De eso no se habla',
 'The Brady Bunch Movie',
 'Home Alone',
 'Ghost',
 'Aladdin',
 'Terminator 2: Judgment Day',
 'Dances with Wolves',
 'Tough and Deadly',
 'Batman',
 'The Silence of the Lambs',
 'Snow White and the Seven Dwarfs',
 'Beauty and the Beast',
 'Pinocchio',
 'Pretty Woman',
 'Окно в Париж',
 'The Wild Bunch',
 'Love and a .45',
 "The Wooden Man's Bride",
 'A Great Day in Harlem',
 'Bye Bye Love',
 'One Fine Day',
 'Candyman: Farewell to the Flesh',
 'Century',
 'Fargo',
 'Homeward Bound II: Lost in San Francisco',
 'Heavy Metal',
 'Hellraiser: Bloodline',
 'The Pallbearer',
 'Jane Eyre',
 'Loaded',
 'Pane e cioccolata',
 'The Aristocats',
 'La flor de mi secreto',
 'Two Much',
 'Ed',
 'Schrei aus Stein',
 'Ma saison préférée',
 'A Modern Affair',
 'Condition Red',
 'Asfour Stah',
 'A Thin Line Between Love and Hate',
 'The Last Supper',
 'Primal Fear',
 'Rude',
 'Carried Away',
 'All Dogs Go to Heaven 2',
 'Land and Freedom',
 'Denise Calls Up',
 'Theodore Rex',
 'A Family Thing',
 'Frisk',
 'Sgt. Bilko',
 'Jack & Sarah',
 'Girl 6',
 'Diabolique',
 'Un indien dans la ville',
 'Roula - Dunkle Geheimnisse',
 'Peanuts – Die Bank zahlt alles',
 'Happy Weekend',
 'Nelly & Monsieur Arnaud',
 'Courage Under Fire',
 'Mission: Impossible',
 'Á köldum klaka',
 'Moll Flanders',
 'Das Superweib',
 '삼공일 삼공이',
 'DragonHeart',
 'Und keiner weint mir nach',
 "My Mother's Courage",
 'Eddie',
 'Yankee Zulu',
 "Billy's Holiday",
 'Plein soleil',
 'August',
 'James and the Giant Peach',
 'Fear',
 'Kids in the Hall: Brain Candy',
 'Faithful',
 'Podzemlje',
 'Lust och fägring stor',
 'Bloodsport II',
 'পথের পাঁচালী',
 'অপুর সংসার',
 'Mystery Science Theater 3000: The Movie',
 'Tarantella',
 'Space Jam',
 'Barbarella',
 'Hostile Intentions',
 'They Bite',
 'Some Folks Call It a Sling Blade',
 'The Run of the Country',
 'Alphaville; une étrange aventure de Lemmy Caution',
 'Coup de torchon',
 'Tigrero: A Film That Was Never Made',
 "L'oeil de Vichy",
 'Windows',
 "It's My Party",
 'Country Life',
 'Operation Dumbo Drop',
 'Das Versprechen',
 'Mrs. Winterbourne',
 'Solo',
 'Etz Hadomim Tafus',
 'The Substitute',
 'True Crime',
 'Butterfly Kiss',
 'Feeling Minnesota',
 'Delta of Venus',
 'To Cross the Rubicon',
 'Angus',
 'Daens',
 'Faces',
 'Boys',
 'The Quest',
 'Cosi',
 'Sunset Park',
 'Mulholland Falls',
 'The Truth About Cats & Dogs',
 'Oliver & Company',
 'Celtic Pride',
 'Flipper',
 'Captives',
 'Of Love and Shadows',
 'Dead Man',
 'Le Hussard sur le toit',
 'Switchblade Sisters',
 'Boca a boca',
 'Les visiteurs',
 'Multiplicity',
 'The Haunted World of Edward D. Wood; Jr.',
 'Due Amici',
 'The Craft',
 'The Great White Hype',
 'Last Dance',
 'War Stories Our Mother Never Told Us',
 'Cold Comfort Farm',
 'Institute Benjamenta; or This Dream People Call Human Life',
 "Heaven's Prisoners",
 'Original Gangstas',
 'The Rock',
 'Getting Away with Murder',
 'Dellamorte Dellamore',
 'Twister',
 'Barb Wire',
 'Le garçu',
 'Honigmond',
 'GHOST IN THE SHELL',
 'Thinner',
 'Spy Hard',
 'Brothers in Trouble',
 'A Close Shave',
 'Force of Evil',
 'The Stupids',
 'The Arrival',
 'The Man from Down Under',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Careful',
 'Vermont Is for Lovers',
 'A Month by the Lake',
 'Gold Diggers: The Secret of Bear Mountain',
 'Kim',
 'Carmen Miranda: Bananas Is My Business',
 '東邪西毒',
 'Khomreh',
 'Maya Lin: A Strong Clear Vision',
 'Stalingrad',
 'The Phantom',
 'Striptease',
 'The Last of the High Kings',
 'Heavy',
 'Jack',
 'I Shot Andy Warhol',
 'The Grass Harp',
 'Tuđa Amerika',
 'La vie est belle',
 'Quartier Mozart',
 'Touki-Bouki',
 'Wend Kuuni',
 'Histoires extraordinaires',
 'Babyfever',
 "Pharaoh's  Army",
 'Trainspotting',
 'Til There Was You',
 'Independence Day',
 'Stealing Beauty',
 'The Fan',
 'The Hunchback of Notre Dame',
 'The Cable Guy',
 'Kingpin',
 'Eraser',
 'The Gate of Heavenly Peace',
 'The Nutty Professor',
 'Yo; la peor de todas',
 'Un été inoubliable',
 'Hol volt; hol nem volt',
 "En compagnie d'Antonin Artaud",
 'Sibak',
 'Somebody to Love',
 'A Very Natural Thing',
 'La vieille qui marchait dans la mer',
 'Daylight',
 'The Frighteners',
 'Lone Star',
 'Harriet the Spy',
 'Phenomenon',
 'Walking and Talking',
 "She's the One",
 'A Time to Kill',
 'American Buffalo',
 'Les Rendez-vous de Paris',
 'Alaska',
 'Fled',
 'Kazaam',
 'Bűvös vadász',
 'Larger Than Life',
 'A Boy Called Hate',
 'Power 98',
 'Two Deaths',
 'A Very Brady Sequel',
 'Stefano Quantestorie',
 'La mort en ce jardin',
 'Hedd Wyn',
 'La Collectionneuse',
 'Kaspar Hauser',
 'Echte Kerle',
 'Diebinnen',
 'O Convento',
 'The Adventures of Pinocchio',
 "Joe's Apartment",
 'The First Wives Club',
 'Stonewall',
 'Ransom',
 'High School High',
 'Phat Beach',
 'Foxfire',
 'Chain Reaction',
 'Matilda',
 'Emma',
 'The Crow: City of Angels',
 'House Arrest',
 'Les Yeux sans visage',
 'Bordello of Blood',
 'Lotto Land',
 'The Story of Xinghua',
 '天國逆子',
 'Flirt',
 'The Big Squeeze',
 'The Spitfire Grill',
 'Escape from L.A.',
 'Xích lô',
 'Basquiat',
 'Tin Cup',
 'Dingo',
 '楢山節考',
 'Un week-end sur deux',
 'Mille bolle blu',
 'Wuya yu maque',
 'The Godfather',
 'Der bewegte Mann',
 '警察故事 III：超級警察',
 'Manny & Lo',
 'Tsuma',
 'Small Faces',
 'Bound',
 'Carpool',
 'Death in Brunswick',
 'Kansas City',
 "Gone Fishin'",
 "Lover's Knot",
 '愛情萬歲',
 'Schatten der Engel',
 'Killer: A Journal of Murder',
 'Nothing to Lose',
 '超级计划',
 'Girls Town',
 'Bye-Bye',
 'The Relic',
 'The Island of Dr. Moreau',
 'First Kid',
 'The Trigger Effect',
 'Sweet Nothing',
 'Bogus',
 'Bulletproof',
 'Talk of Angels',
 'The Land Before Time III: The Time of the Great Giving',
 '06',
 'Baton Rouge',
 'Halloween: The Curse of Michael Myers',
 'Twelfth Night',
 'Mother Night',
 'Liebelei',
 'Wenecja',
 'Les Roseaux Sauvages',
 'For Whom the Bell Tolls',
 'The Philadelphia Story',
 "Singin' in the Rain",
 'An American in Paris',
 'Funny Face',
 "Breakfast at Tiffany's",
 'Vertigo',
 'Rear Window',
 'It Happened One Night',
 'Gaslight',
 'The Gay Divorcee',
 'North by Northwest',
 'The Apartment',
 'Some Like It Hot',
 'Charade',
 'Casablanca',
 'The Maltese Falcon',
 'My Fair Lady',
 'Sabrina',
 'Roman Holiday',
 'The Little Princess',
 'Meet Me in St. Louis',
 'The Wizard of Oz',
 'Gone with the Wind',
 'My Favorite Year',
 'Sunset Boulevard',
 'Citizen Kane',
 '2001: A Space Odyssey',
 'Golden Earrings',
 'All About Eve',
 'The Women',
 'Rebecca',
 'Foreign Correspondent',
 'Notorious',
 'Spellbound',
 'An Affair to Remember',
 'To Catch a Thief',
 'Father of the Bride',
 'The Band Wagon',
 'Ninotchka',
 'Love in the Afternoon',
 'Gigi',
 'The Reluctant Debutante',
 'The Adventures of Robin Hood',
 'The Mark of Zorro',
 'Laura',
 'The Ghost and Mrs. Muir',
 'Lost Horizon',
 'Top Hat',
 'To Be or Not to Be',
 'My Man Godfrey',
 'Giant',
 'East of Eden',
 'The Thin Man',
 'His Girl Friday',
 'Around the World in Eighty Days',
 "It's a Wonderful Life",
 'Mr. Smith Goes to Washington',
 'Bringing Up Baby',
 'Penny Serenade',
 'The Scarlet Letter',
 'Lady of Burlesque',
 'Of Human Bondage',
 'Angel on My Shoulder',
 'Little Lord Fauntleroy',
 'They Made Me a Criminal',
 'The Inspector General',
 'Angel and the Badman',
 'The 39 Steps',
 'A Walk in the Sun',
 'The Outlaw',
 'Night of the Living Dead',
 'The African Queen',
 'Beat the Devil',
 'Cat on a Hot Tin Roof',
 'The Last Time I Saw Paris',
 'Meet John Doe',
 'Algiers',
 'Something to Sing About',
 'A Farewell to Arms',
 'Moonlight Murder',
 'Nothing Personal',
 'Huang jia shi jie',
 'Dangerous Ground',
 'Picnic',
 'Madagascar Skin',
 'The Pompatus of Love',
 'Small Wonders',
 'Fly Away Home',
 'Bliss',
 'Grace of My Heart',
 'Schlafes Bruder',
 'Maximum Risk',
 'Michael Collins',
 "The Rich Man's Wife",
 'Infinity',
 'Big Night',
 'Last Man Standing',
 'Caught',
 'Set It Off',
 '2 Days in the Valley',
 'Curdled',
 "L'associé",
 "Ed's Next Move",
 'Extreme Measures',
 'The Glimmer Man',
 'D3: The Mighty Ducks',
 'The Chamber',
 'The Apple Dumpling Gang',
 'Davy Crockett; King of the Wild Frontier',
 'Escape to Witch Mountain',
 'The Love Bug',
 'Herbie Rides Again',
 'Old Yeller',
 'The Parent Trap',
 'Pollyanna',
 'Homeward Bound: The Incredible Journey',
 'The Shaggy Dog',
 'Swiss Family Robinson',
 'That Darn Cat!',
 '20;000 Leagues Under the Sea',
 'Cool Runnings',
 'Angels in the Outfield',
 'Cinderella',
 'Winnie the Pooh and the Blustery Day',

In [21]:
data['original_title'] = cleaned_titles

In [22]:
data

,adult,budget,genres,id,imdb_id,original_language,original_title,popularity,poster_path,release_date,revenue,runtime,status,title,video,vote_average,vote_count,list_genres
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,0114709,en,Toy Story,21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,1995-10-30,373554033.0,81.0,Released,Toy Story,False,7.7,5415.0,"['Animation', 'Comedy', 'Family']"
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,0113497,en,Jumanji,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,1995-12-15,262797249.0,104.0,Released,Jumanji,False,6.9,2413.0,"['Adventure', 'Fantasy', 'Family']"
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,0113228,en,Grumpier Old Men,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,1995-12-22,0.0,101.0,Released,Grumpier Old Men,False,6.5,92.0,"['Romance', 'Comedy']"
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,0114885,en,Waiting to Exhale,3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,False,6.1,34.0,"['Comedy', 'Drama', 'Romance']"
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",11862,0113041,en,Father of the Bride Part II,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,False,5.7,173.0,['Comedy']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,6209470,fa,رگ خواب,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,NaN,0.0,90.0,Released,Subdue,False,4.0,1.0,"['Drama', 'Family']"
45462,False,0,"[{'id': 18, 'name': 'Drama'}]",111109,2028550,tl,Siglo ng Pagluluwal,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,2011-11-17,0.0,360.0,Released,Century of Birthing,False,9.0,3.0,['Drama']
45463,False,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,0303758,en,Betrayal,0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,2003-08-01,0.0,90.0,Released,Betrayal,False,3.8,6.0,"['Action', 'Drama', 'Thriller']"
45464,False,0,[],227506,0008536,en,Satana likuyushchiy,0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,1917-10-21,0.0,87.0,Released,Satan Triumphant,False,0.0,0.0,[]
45465,False,0,[],461257,6980792,en,Queerama,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,2017-06-09,0.0,75.0,Released,Queerama,False,0.0,0.0,[]

In [23]:
from ast import literal_eval
ind, value = zip(*[(i, x) 
                  for i, row in data['genres'].items() 
                  for x in literal_eval(row)])
genre_col = pd.DataFrame(value, index=ind)
genre_col

          id       name
0         16  Animation
0         35     Comedy
0      10751     Family
1         12  Adventure
1         14    Fantasy
...      ...        ...
45461  10751     Family
45462     18      Drama
45463     28     Action
45463     18      Drama
45463     53   Thriller

[91017 rows x 2 columns]

In [24]:
genre_col = genre_col.rename(columns={'name':'genre'})
genre_col

          id      genre
0         16  Animation
0         35     Comedy
0      10751     Family
1         12  Adventure
1         14    Fantasy
...      ...        ...
45461  10751     Family
45462     18      Drama
45463     28     Action
45463     18      Drama
45463     53   Thriller

[91017 rows x 2 columns]

In [25]:
genre_col['genre'].value_counts()

Drama                                    20242
Comedy                                   13174
Thriller                                  7619
Romance                                   6728
Action                                    6591
Horror                                    4669
Crime                                     4304
Documentary                               3930
Adventure                                 3490
Science Fiction                           3044
Family                                    2767
Mystery                                   2464
Fantasy                                   2309
Animation                                 1931
Foreign                                   1618
Music                                     1597
History                                   1398
War                                       1322
Western                                   1042
TV Movie                                   766
Carousel Productions                         1
Vision View Entertainment                    1
Telescene Film Group Productions             1
Aniplex                                      1
GoHands                                      1
BROSTA TV                                    1
Mardock Scramble Production Committee        1
Sentai Filmworks                             1
Odyssey Media                                1
Pulser Productions                           1
Rogue State                                  1
The Cartel                                   1
Name: genre, dtype: int64

In [26]:
genre_col['count'] = genre_col.groupby('genre').transform('count')
genre_counts = genre_col.loc[genre_col['count'] >= 2].drop(columns='count')

In [27]:
genre_counts['genre'].value_counts()

Drama              20242
Comedy             13174
Thriller            7619
Romance             6728
Action              6591
Horror              4669
Crime               4304
Documentary         3930
Adventure           3490
Science Fiction     3044
Family              2767
Mystery             2464
Fantasy             2309
Animation           1931
Foreign             1618
Music               1597
History             1398
War                 1322
Western             1042
TV Movie             766
Name: genre, dtype: int64

In [28]:
genre_counts

          id      genre
0         16  Animation
0         35     Comedy
0      10751     Family
1         12  Adventure
1         14    Fantasy
...      ...        ...
45461  10751     Family
45462     18      Drama
45463     28     Action
45463     18      Drama
45463     53   Thriller

[91005 rows x 2 columns]

In [29]:
genre_encoding_list = genre_counts.dtypes[genre_counts.dtypes == "object"].index.tolist()
genre_encoding_list

['genre']

In [30]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encoded_genres = pd.DataFrame(enc.fit_transform(genre_counts[genre_encoding_list]), index=genre_counts.index)

# Add the encoded variable names to the dataframe
encoded_genres.columns = enc.get_feature_names_out(genre_encoding_list)
encoded_genres.head()

,genre_Action,genre_Adventure,genre_Animation,genre_Comedy,genre_Crime,genre_Documentary,genre_Drama,genre_Family,genre_Fantasy,genre_Foreign,genre_History,genre_Horror,genre_Music,genre_Mystery,genre_Romance,genre_Science Fiction,genre_TV Movie,genre_Thriller,genre_War,genre_Western
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
encoded_genres.columns

Index(['genre_Action', 'genre_Adventure', 'genre_Animation', 'genre_Comedy',
       'genre_Crime', 'genre_Documentary', 'genre_Drama', 'genre_Family',
       'genre_Fantasy', 'genre_Foreign', 'genre_History', 'genre_Horror',
       'genre_Music', 'genre_Mystery', 'genre_Romance',
       'genre_Science Fiction', 'genre_TV Movie', 'genre_Thriller',
       'genre_War', 'genre_Western'],
      dtype='object')

In [32]:
encoded_genres.groupby(encoded_genres.index)['genre_Action', 'genre_Adventure', 'genre_Animation', 'genre_Comedy',
       'genre_Crime', 'genre_Documentary', 'genre_Drama', 'genre_Family',
       'genre_Fantasy', 'genre_Foreign', 'genre_History', 'genre_Horror',
       'genre_Music', 'genre_Mystery', 'genre_Romance',
       'genre_Science Fiction', 'genre_TV Movie', 'genre_Thriller',
       'genre_War', 'genre_Western'].apply(lambda x : x.astype(int).sum())

/Users/briannahancock/opt/anaconda3/envs/PythonData2/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

,genre_Action,genre_Adventure,genre_Animation,genre_Comedy,genre_Crime,genre_Documentary,genre_Drama,genre_Family,genre_Fantasy,genre_Foreign,genre_History,genre_Horror,genre_Music,genre_Mystery,genre_Romance,genre_Science Fiction,genre_TV Movie,genre_Thriller,genre_War,genre_Western
0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45459,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
45460,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
45461,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
45462,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
45463,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0

In [35]:
data.to_csv('/Users/briannahancock/Desktop/Final_Data/movies_metadata_cleaned.csv')

In [36]:
encoded_genres.to_csv('/Users/briannahancock/Desktop/Final_Data/encoded_genres.csv')